<div class="container">

    <header id="header" class="header section">
        
        <div class="column">
            <h1 class="header-logo">
                <a href="home.html">
                    <img src="img/logo_horizontal_color.svg" alt="iStudyThai" width="320" height="72">
                </a>
            </h1>
            <p class="header-navicon">
                <a href="javascript:void(0)" id="navicon" class="navicon"><i class="icon-menu"></i></a>
            </p>
        </div>
        
        <div class="column is-mobilehidden">
            <nav class="header-nav">
                <ul class="nav">
                    <li class="nav-item is-active"><a href="home.html">Study Room</a></li>
                    <li class="nav-item"><a href="home.html">Community Board</a></li>
                    <li class="nav-item"><a href="index.html">My Account</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    
    <section id="study" class="study section">
    
        <div class="column is-mobilehidden">
            <div class="study-nav">
                <ul class="nav">
                    <li class="nav-item is-active study-nav-primary"><a href="home.html">Lessons</a></li>
                    <li class="nav-item"><a href="home.html">What&rsquo;s Up</a></li>
                    <li class="nav-item"><a href="home.html">Foundation</a></li>
                    <li class="nav-item"><a href="home.html">Elementary</a></li>
                    <li class="nav-item"><a href="home.html">Intermediate</a></li>
                    <li class="nav-item"><a href="home.html">Culture &amp; Customs</a></li>
                    <li class="nav-item study-nav-search"><form><input type="search" placeholder="Search"></form></li>
                </ul>
            </div>
        </div>
        
        <div class="column">
            <ul class="study-list">
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson01.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Foundation</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Long Time No See!</a></h1>
                            <p class="study-list-description">Cliché as it may be, a good “long time no see” does wonders for reconnecting with old friends. In this podcast, we’re going to make you sound more like a local by sharing these tidbits, as well as a cooler way of saying “how are you." And how are you? In this Chinese lesson, you'll learn that in Shanghai there's only one correct answer...</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">jobs</a>, <a href="home.html">greetings</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson02.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Foundation</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">What's Your Name?</a></h1>
                            <p class="study-list-description">Yes, it’s easy to point at yourself, say your own name, then point at their chest and make a questioning grunt, but wouldn’t it be great if you could ask for your new friends name in Chinese, and even tell them yours? In today’s podcast lesson, hosts Jenny and Ken teach you a few simple sentences to help you exchange names in Mandarin Chinese.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">daily life</a>, <a href="home.html">introductions</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson03.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Foundation</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Where Do You Live?</a></h1>
                            <p class="study-list-description">Your place is a mess? Didn't make your bed this morning? Get those dirty clothes off the floor and stack those dishes you were leaving for the Ayi... Guess what? We're finding out where you call home and we're coming over! In this podcast, get ready to reveal all and open your door to someone other than your nosy neighbors! Learn how to say where you live, in Mandarin.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">daily life</a>, <a href="home.html">location</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson04.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Foundation</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">What Are Your Hobbies?</a></h1>
                            <p class="study-list-description">As you start busting out your Chinese and making Chinese friends, one of the topics that's going to come up is hobbies. (Spoiler alert: you're going to hear a lot of "listening to music" and "watching movies.") If one of your hobbies is playing basketball, this lesson is perfect. If you just like watching basketball, this lesson is still perfect. If you like hitting people, it's also pretty good.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">hobbies</a>, <a href="home.html">sports</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson05.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Elementary</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">How to Address Someone</a></h1>
                            <p class="study-list-description">There are quite a few forms of address for people in Mandarin Chinese, and being the nice, polite student that you are, you want to use the most appropriate one when you meet someone new. In this lesson, learn how to ask what you should call someone.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">people</a>, <a href="home.html">greetings</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson06.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Elementary</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">5000 Years of History</a></h1>
                            <p class="study-list-description">Do you know how many years of history China is sporting? In case you have no Chinese friends around to remind you, we have created this lesson to fill you in on this critical detail of world history. This Chinese lesson will also help you Americans out there make a comparison.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">history</a>, <a href="home.html">culture</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson01.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Intermediate</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Checking Baggage</a></h1>
                            <p class="study-list-description">You have an inkling from a post-packing teeter on the bathroom scale that your baggage may be overweight. Your only hope to avoid overweight fees is charming that handsome check-in clerk with a batting of eyes and barrage of Chinese. That, or employing strategic passport placement to cover the scale display numbers. In this lesson, use your Mandarin to check-in your bags and curry some bulkhead seat favors.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">travel</a>, <a href="home.html">transportation</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson02.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Intermediate</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Breakup</a></h1>
                            <p class="study-list-description">With this lesson, we did our best to distill the most cliché Chinese breakup lines into one simple dialog. This way, should you ever have the misfortune of needing to understand these words and phrases, you focus on being brokenhearted rather than puzzling over vocabulary and grammar. (You can thank us later.)</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">feelings</a>, <a href="home.html">relationships</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson03.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Culture &amp; Customs</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Language Power Struggle</a></h1>
                            <p class="study-list-description">A battle of wills. Language domination. Do not relinquish your position. The only way to survive the language power struggle is to arm yourself with grammar and vocab. Only the fluent will survive. In this podcast, learn the Chinese to control the conversation when that inevitable eager language 'friend' comes along.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">language</a>, <a href="home.html">communications</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson04.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Culture &amp; Customs</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Help at the ATM</a></h1>
                            <p class="study-list-description">In big cities in China, ATMs are everywhere, and many of them can even take foreign cards now. Of course, it's very useful to actually know how to use these things, and learning the appropriate Chinese terms is a huge step in the right direction. Today's lesson covers the ATM basics, including checking balances and making a withdrawal.</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">money</a>, <a href="home.html">bank</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson05.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Culture &amp; Customs</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">Take Some Medicine</a></h1>
                            <p class="study-list-description">Now, we all know when we get the flu, there’s nothing we like more than to do a little whining about it. In this podcast you will learn how to tell someone who cares about your sore throat and headache, using Mandarin Chinese. And when you do, there will be no shortage of friends sure to want to bring you some nice Chinese medicine. Open up!</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">medicine</a>, <a href="home.html">health</a></span></p>
                        </figcaption>
                    </figure>
                </li>
                <li class="study-list-item">
                    <figure class="figure">
                        <a href="lesson.html" class="figure-item study-list-media"><img src="img/lesson06.jpg" alt="Long Time No See!" width="480" height="480"></a>
                        <figcaption class="figure-caption">
                            <h2 class="study-list-type"><a href="home.html">Culture &amp; Customs</a></h2>
                            <h1 class="study-list-title"><a href="lesson.html">I Changed My Mind</a></h1>
                            <p class="study-list-description">The scene is a young couple's bedroom. He's dressed and ready to go, while she's only just begun the long process of outfit deliberation. There will be ideas, questions, new ideas, reconsiderations, and changing of one's mind. If you gain nothing else from this Chinese lesson, at least learn the phrase "I changed my mind."</p>
                            <p class="study-list-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">mind</a>, <a href="home.html">clothes</a></span></p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            
            <form class="study-pagination">
                <span class="is-disabled"><a href="home.html">Previous</a></span>
                <span><select>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select></span>
                <span><a href="home.html">Next</a></span>
            </form>
        </div>
    
    </section>
    
    <footer id="footer" class="footer section">
        
        <div class="column">
            <p class="footer-links">
                <span><a href="http://www.facebook.com/IstudyThaicom"><i class="icon-facebook"></i></a></span>
                <span><a href="http://twitter.com/IStudyThai"><i class="icon-twitter"></i></a></span>
                <span><a href="http://istudythai.blogspot.com/"><i class="icon-blogger"></i></a></span>
                <span><a href="http://th.linkedin.com/in/istudythai/"><i class="icon-linkedin"></i></a></span>
            </p>
            <p class="footer-copyright">iStudyThai &copy; 2014</p>
        </div>
        
    </footer>
    
</div>

<div id="background" class="background"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

<script src="//use.typekit.net/jea7hlz.js"></script>
<script>try{Typekit.load();}catch(e){}</script>     