<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Long Time No See! - iStudyThai</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/icons.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body id="page">
        
        <div class="container">
            
            <header id="header" class="header section">
                
                <div class="column">
                    <h1 class="header-logo">
                        <a href="home.html">
                            <img src="img/logo_horizontal_color.svg" alt="iStudyThai" width="320" height="72">
                        </a>
                    </h1>
                    <p class="header-navicon">
                        <a href="javascript:void(0)" id="navicon" class="navicon"><i class="icon-menu"></i></a>
                    </p>
                </div>
                
                <div class="column is-mobilehidden">
                    <nav class="header-nav">
                        <ul class="nav">
                            <li class="nav-item is-active"><a href="home.html">Study Room</a></li>
                            <li class="nav-item"><a href="home.html">Community Board</a></li>
                            <li class="nav-item"><a href="index.html">My Account</a></li>
                        </ul>
                    </nav>
                </div>
                
            </header>
            
            <article id="lesson" class="lesson section">
                
                <div class="column">
                    <div class="lesson-media">
                        <img src="img/lesson.jpg" alt="Long Time No See!" width="480" height="480">
                        <audio controls>
                            <source src="files/lesson.mp3" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
                
                <div class="column">
                    <div class="lesson-body">
                        <h2 class="lesson-type"><a href="home.html">Foundation</a></h2>
                        <h1 class="lesson-title"><a href="lesson.html">Long Time No See!</a></h1>
                        <p class="lesson-actions"><span><a href="#"><i class="icon-file-audio"></i> Download Audio</a></span> <span><a href="#"><i class="icon-file-pdf"></i> Download PDF</a></span> <span><a href="#"><i class="icon-circle-ok"></i> Mark as studied</a></span></p>
                        <p class="lesson-description">Cliché as it may be, a good “long time no see” does wonders for reconnecting with old friends. In this podcast, we’re going to make you sound more like a local by sharing these tidbits, as well as a cooler way of saying “how are you." And how are you? In this Chinese lesson, you'll learn that in Shanghai there's only one correct answer...</p>
                        <p class="lesson-meta"><span>12:15</span> <span>&bull;</span> <span><a href="home.html">jobs</a>, <a href="home.html">greetings</a></span></p>
                    </div>
                </div>
                
            </article>
            
            <aside id="comments" class="comments section">
                
                <div class="column">
                    <div id="disqus_thread" class="comments"></div>
                </div>
                
            </aside>
            
            <footer id="footer" class="footer section">
                
                <div class="column">
                    <p class="footer-links">
                        <span><a href="http://www.facebook.com/IstudyThaicom"><i class="icon-facebook"></i></a></span>
                        <span><a href="http://twitter.com/IStudyThai"><i class="icon-twitter"></i></a></span>
                        <span><a href="http://istudythai.blogspot.com/"><i class="icon-blogger"></i></a></span>
                        <span><a href="http://th.linkedin.com/in/istudythai/"><i class="icon-linkedin"></i></a></span>
                    </p>
                    <p class="footer-copyright">iStudyThai &copy; 2014</p>
                </div>
                
            </footer>
            
        </div>
        
        <div id="background" class="background"></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        
        <script src="//use.typekit.net/jea7hlz.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'istudythai'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        
        <script src="js/main.js"></script>
        
    </body>
</html>