<header id="splash" class="splash section">
    <div class="container">
        <h1 class="splash-logo"><img src="img/logo_vertical_color.svg" alt="iStudyThai" width="160" height="160"></h1>
        <h2 class="splash-banner"><img src="img/banner.jpg" alt="Leading you through the eyes of Thailand" width="560" height="560"></h2>
        <p class="splash-actions">
        <a ng-href="#/home" class="button">Register</a>
        <a ng-href="#/home" class="button">Login</a></p>
    </div>
</header>

<section id="welcome" class="welcome section">
    <div class="container">
        <div class="column">
            <h1>ยินดีต้อนรับ</h1>
            <h2>Welcome to iStudyThai</h2>
            <p>Learning a language can be extremely difficult especially when you are short of time. Let iStudyThai help you study Thai language in a fun and easy way. We will prove to you that learning Thai doesn’t have to be boring or only from a text book!! Why wait? Register now and start learning Thai.</p>
        </div>
    </div>
</section>

<section id="description" class="description section">
    <div class="container">
        <div class="column">
            <p>At iStudyThai we have a team of experts dedicated in teaching Thai. Whether you are learning Thai for travel or for work, you can be sure that all the words you are learning from us are accurate and can be used in real life situations.</p>
            <p>We have a large array of audio lessons you can choose from, ranging from foundation level to advance level. We understand that the speed a person to learn a language varies greatly from person to person. At iStudyThai you are able to select the levels you are comfortable with and learn the lessons at your own speed.</p>
            <p>Apart from learning important words and phrases in Thai you are also granted access to “The Culture and Customs” section where we will discuss with you the rich and diverse culture and customs Thailand has to offer. At iStudyThai we believe that to be able to learn a language effectively, you will need to understand the culture and customs of that place. With this you will have the chance to be fully immersed into our language and customs, like you are living in Thailand.</p>
            <p>You are also invited to join us at our community board. Here, you will be able to communicate with us and fellow users about certain topics concerning Thailand. We strive to provide you with the best tools and lessons for you to advance in Thai language therefore, any comments or feedbacks are always welcome at our community board.</p>
            <p>Are you now ready to study some Thai? If so, come and join us at iStudyThai.com</p>
        </div>
    </div>
</section>

<footer id="footer" class="footer footer-splash section">
    <div class="container">
        <div class="column">
            <p class="footer-links">
                <span><a href="http://www.facebook.com/IstudyThaicom"><i class="icon-facebook"></i></a></span>
                <span><a href="http://twitter.com/IStudyThai"><i class="icon-twitter"></i></a></span>
                <span><a href="http://istudythai.blogspot.com/"><i class="icon-blogger"></i></a></span>
                <span><a href="http://th.linkedin.com/in/istudythai/"><i class="icon-linkedin"></i></a></span>
            </p>
            <p class="footer-contact"><a href="tel:+6622457475">+66 2 245 7475</a> &nbsp; &bull; &nbsp; <a href="mailto:support@istudythai.com">support@istudythai.com</a></p>
            <p class="footer-address">Level 7, No 15 Phayathai Rd<br>Kwang Phayathai, Khet Ratchataevee<br>Bangkok 10400</p>
            <p class="footer-copyright">iStudyThai &copy; 2014</p>
        </div>
    </div>
</footer>

<div id="background" class="background"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

<script src="//use.typekit.net/jea7hlz.js"></script>
<script>try{Typekit.load();}catch(e){}</script>